# IDE files
.idea/
*.iml
*.iws
/out/

# Maven targets
target/
dependency-reduced-pom.xml
release.properties

# Compiled class files
*.class

# Log files
*.log
run.log

# Application packages
*.jar
*.war
*.ear
*.zip

# JVM crash logs
hs_err_pid*

# Embedded Tools
.tools/
